.modal {
    z-index: 3;
    background-color: white;
    margin: 0 auto;
    max-width: 360px;
}

.overlay.active {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(30, 30, 30);
}